# Object files
*.o
*.ko
*.obj
*.elf
*.axf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
__pycache__

# Compile artifacts
*.map
*.d
*.lss
*.eep
*.x

# Vim swap files
.*sw*

# Benchmark artifacts
/bench
/work
/binaries
/algobase

# Backups
*.old
*.orig
