[submodule "external/tiva-c_driverlib"]
	path = external/tiva-c_driverlib
	url = https://github.com/jhnphm/tiva-c_driverlib.git
[submodule "external/xbx_supercop"]
	path = external/xbx_supercop
	url = https://github.com/jhnphm/xbx_supercop.git
[submodule "external/tiva-c_xtools"]
	path = external/tiva-c_xtools
	url = https://github.com/jhnphm/tiva-c_xtools.git
[submodule "external/crosstool-ng"]
	path = external/crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
